@use "../../util" as *;
.products {
  margin: 0 auto;
  margin-top: -20%;
  width: 95%;
  position: relative;
  z-index: 100;
}
.product {
  background-color: white;
  height: fit-content;
  @include flex($dir: column);
  justify-content: space-between;
  height: 100%;
  &__category {
    color: black;
    font-weight: 200;
    font-size: 10px;
    line-height: 12px;
    text-align: end;
    padding: 3px 10px;
    width: 100%;
  }
  &__info {
    @include flex($dir: column, $justify: flex-end);
    height: fit-content;
    max-width: 95%;
    margin: 21px;
    & > * {
      width: 100%;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    line-height: 21px;
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0;
  }
  &__price {
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
  }
  &__prime {
    @include flex($justify: flex-start);
    margin-top: -12px;
    &--toggle {
      display: none;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      margin-left: 5px;
      line-height: 14px;
    }
  }
  &__btn {
    @include flex($justify: center);
    background: linear-gradient(
      to bottom,
      $amazon-yellow,
      $amazon-yellow-hover
    );
    border-radius: 3px;
    &:hover {
      background: none;
      background-color: $amazon-yellow-hover;
    }
    p {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}
