@use "../util" as *;
.nav {
  background-color: $amazon-blue;
  width: 100vw;
}
.navBottom {
  @include flex($justify: flex-start);
  background-color: $amazon-blue-light;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  overflow: scroll;
  padding: rem(2) rem(15);
  word-wrap: keep-all;

  &__menu {
    @include flex($justify: center);
    padding: 2px 6px;
    margin-left: 4px;
    &:hover,
    &:focus {
      border: 1px solid #ffffff;
    }
  }
  &__links {
    @include flex($justify: flex-start);
    p {
      color: rgb(224, 224, 224);
      font-family: 100;
      width: max-content;
      word-wrap: keep-all;
    }
  }

  &__icon {
    @include size(22px, 22px);
    padding-right: 3px;
  }
  @include down-mobile {
      padding-left: 4px;
  }
}
