@use "../../util" as *;
.navTop {
  @include flex;
  background-color: $amazon-blue;
  padding: rem(8) rem(4);
  overflow: scroll;
  word-wrap: keep-all;

  & > div {
    margin-right: 10px;
  }
  &__logo {
    // @include flex;
    flex-shrink: 0;
    width: 150px !important;
    height: 40px !important;
    &:hover,
    &:focus {
      border: 1px solid #ffffff;
    }
  }
  &__searchBar {
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    overflow: hidden;
  }
  &__searchIcon {
    background-color: $amazon-yellow;
    width: 40px;
    flex-shrink: 0;
    color: #000;
    overflow: hidden;
    &:hover,
    &:focus {
      background-color: $amazon-yellow-hover;
    }
  }
  &__input, &__searchIcon {
    height: 40px;
  }
  &__links {
    @include flex;
    color: white;
    font-size: smaller;
    word-wrap: keep-all;
    & > div {
      width: max-content;
      padding: 10px;
      font-weight: light;
      padding-right: 1vw;
      &:hover,
      &:focus {
        border: 1px solid #ffffff;
      }
      h3 {
        width: max-content;
        word-wrap: keep-all;
        font-weight: bolder;
      }
    }
  }
  &__basket {
    @include flex($align: flex-end);
  }
  &__iconWrapper {
    min-height: 40px;
    min-width: 40px;
    position: relative;
  }

  &__num {
    @include center-div;
    @include pos-ab-t-r(10);
    background-color: $amazon-yellow;
    border-radius: 100px;
    color: #000;
    font-size: 10px;
    font-weight: bolder;
    width: 15px;
    height: 15px;
  }
  @include up-mobile {
    &__input, 
    &__searchBar
    {
      flex: 1;
    }
  }
  @include down-tablet {
    &__basket h3 {
      word-wrap: keep-all;
      align-self: end;
    }
    &__link {
      font-size: smaller;
      padding: 3px;
    }
  }
  @include down-mobile {
    padding: rem(12) rem(2);
    &__searchBar-mobile {
      padding: rem(2) rem(7);
      flex: 1;

    }
    &__iconWrapper
     {
      display: none;
    }
  }
}
