
/*
  * small - 640px - mobile
  * medium - 768px - tablet
  * large - 1040px - laptop
  * X-large - 1280px - desktop
*/

@mixin up-desktop {
  @media all and (min-width: 1281px) {
    @content;
  }
}
@mixin down-desktop {
  @media all and (max-width: 1280px) {
    @content;
  }
}
@mixin up-laptop {
  @media all and (min-width: 1041px) {
    @content;
  }
}
@mixin down-laptop {
  @media all and (max-width: 1040px) {
    @content;
  }
}
@mixin up-tablet {
  @media all and (min-width: 769px) {
    @content;
  }
}
@mixin down-tablet {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin up-mobile {
  @media all and (min-width: 571px) {
    @content;
  }
}
@mixin down-mobile {
  @media all and (max-width: 570px) {
    @content;
  }
}
